.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.edit {
  width: 35%;
}

.MuiTextField-root {
  margin-bottom: 24px !important;
}
